@media only screen and (min-width: 769px) {
    .cardback{
        height:100vh;
        width:100vw;
        background: linear-gradient(-45deg,rgb(12,138,187), rgb(230,230,230));
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 10vh;
        overflow: hidden;
    }
    .leftsidecolor{
        height:3.5vh;
        width:20vh;
        margin-right:5vh;

    }
    .leftsidecolorbutton{
        width:50%;
        height:100%;
        transition: linear 0.1s;
    }
    .leftsidecolorbutton:nth-child(1){
        background: linear-gradient(90deg,red 50%,blue 50%);
    }
    .leftsidecolorbutton:nth-child(2){
        background: linear-gradient(90deg,yellow 50%,cyan 50%);
    }
    .leftsidecolorbutton:hover{
        transform: scale(1.1);
    }

    .rightsidecolor{
        height:3.5vh;
        width:20vh;
        margin-left:5vh;
    }
    .rightsidecolorbutton{
        width:50%;
        height:100%;
        transition: linear 0.1s;
        /* border:1px solid black; */
    }
    .rightsidecolorbutton:nth-child(1){
        background: linear-gradient(90deg, pink 50%,purple 50%);
    }
    .rightsidecolorbutton:nth-child(2){
        background: linear-gradient(90deg,skyblue 50%,green  50%);
    }
    .rightsidecolorbutton:hover{
        transform: scale(1.1);
    }


    .card{
        /* background: url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png"); */
        background: linear-gradient(-60deg, rgb(12,138,187) 50%, rgb(10,37,58) 50%);
        height:32vh;
        width:57vh;
        color:white;
        display:flex;
        border-radius: 1vmin;
        box-shadow: 5px 5px 5px rgba(20,20,20,0.4);
    }
    .cardColorOne{
        background: linear-gradient(-60deg, red 50%, blue 50%);
    }
    .cardColorTwo{
        background: linear-gradient(-60deg, yellow 50%, cyan 50%);
    }
    .cardColorThree{
        background: linear-gradient(-60deg, pink 50%, purple 50%);
    }
    .cardColorFour{
        background: linear-gradient(-60deg, skyblue 50%, green 50%);
    }

    .card input{
        outline: none;
        background-color: transparent;
        border:none;
        font-family: Arial, sans-serif;
        z-index: 2;
        
    }
    .contacts{
        width:50%;
        background-color: white;
        height:16vh;
        margin-top: 8vh;
        line-height: 2vh;
        color:black;
        border-radius: 0 25px 25px 0;
    }
    .contacticons{
        font-size: 2vh;
        transform: translate(0,0.4vh);
        margin-left: 1vw;
        margin-right:0.5vw ;

    }

    .address{
        font-size:1.8vh;
        padding-top: 1.8vh;
        padding-bottom: 1vh;
    }
    .phoneno{
        font-size:1.8vh;
        padding-bottom: 1vh;
        width:40%;
        overflow: hidden;
    }
    .website{
        font-size:1.8vh;
        padding-bottom: 1vh;
    }
    .eemail{
        font-size:1.8vh;
        padding-bottom: 1vh;
    }

    .personal{
        width:50%;
        height:10vh;
        margin-top:11vh;
        padding-right:1vw;
    }
    .name{
        width:100%;
        font-size: 4vmin;
        color:white;
        text-align: right;
        font-weight: 550;
        padding-top: 0.5vh;
    }
    .job{
        width:100%;
        font-size: 1.5vmin;
        color:white;
        text-align: right;
        
    }
    .personalafterblock{
        height:1.2px;
        width:70%;
        background-color: white;
        margin-top: 1vh;
        text-align: right;
        justify-content: right;
        margin-left: 31%;
    }
    .downloadbutton{
        width:100%;
        height:4vmin;
        margin-top: -30vh;
        display:flex;
        justify-content: center;
    }
    .downloadbutton Button{
        border:none;
        height:100%;
        width:8vw;
        background-color: white;
        color:black;
        transition: linear 0.2s;
        font-weight: 550;
        box-shadow: 5px 5px 5px rgba(20,20,20,0.4);
        margin:0 0.5vw;
    }
    .downloadbutton Button:hover{
        transform: scale(1.1);
    }
    .downloadbutton Button:active{
        transform: scale(1);
    }
}


@media only screen and (max-width: 768px) {
    .cardback{
        height:100vh;
        width:100vw;
        background: linear-gradient(-45deg,rgb(12,138,187), rgb(230,230,230));
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 10vh;
        overflow: hidden;
    }
    .leftsidecolor{
        height:3.5vh;
        width:22vh;
        
    }
    .leftsidecolorbutton{
        width:50%;
        height:100%;
        transition: linear 0.1s;
    }
    .leftsidecolorbutton:nth-child(1){
        background: linear-gradient(90deg,red 50%,blue 50%);
    }
    .leftsidecolorbutton:nth-child(2){
        background: linear-gradient(90deg,yellow 50%,cyan 50%);
    }
    .leftsidecolorbutton:hover{
        transform: scale(1.1);
    }

    .rightsidecolor{
        height:3.5vh;
        width:22vh;
    }
    .rightsidecolorbutton{
        width:50%;
        height:100%;
        transition: linear 0.1s;
    }
    .rightsidecolorbutton:nth-child(1){
        background: linear-gradient(90deg, pink 50%,purple 50%);
    }
    .rightsidecolorbutton:nth-child(2){
        background: linear-gradient(90deg,skyblue 50%,green  50%);
    }
    .rightsidecolorbutton:hover{
        transform: scale(1.1);
    }


    .card{
        /* background: url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png"); */
        background: linear-gradient(-60deg, rgb(12,138,187) 50%, rgb(10,37,58) 50%);
        height:31vmax;
        width:54vmax;
        color:white;
        display:flex;
        border-radius: 1vmin;
        box-shadow: 5px 5px 5px rgba(20,20,20,0.4);
    }
    .cardColorOne{
        background: linear-gradient(-60deg, red 50%, blue 50%);
    }
    .cardColorTwo{
        background: linear-gradient(-60deg, yellow 50%, cyan 50%);
    }
    .cardColorThree{
        background: linear-gradient(-60deg, pink 50%, purple 50%);
    }
    .cardColorFour{
        background: linear-gradient(-60deg, skyblue 50%, green 50%);
    }

    .card input{
        outline: none;
        background-color: transparent;
        border:none;
        font-family: Arial, sans-serif;
        z-index: 2;
        
    }
    .contacts{
        width:50%;
        background-color: white;
        height:16vh;
        margin-top: 8vh;
        line-height: 2vh;
        color:black;
        border-radius: 0 25px 25px 0;
    }
    .contacticons{
        font-size: 2vh;
        transform: translate(0,0.4vh);
        margin-left: 2vw;
        margin-right:2vw ;

    }

    .address{
        font-size:1.5vh;
        padding-top: 1.8vh;
        padding-bottom: 1vh;
        color:black;
    }
    .phoneno{
        font-size:1.5vh;
        padding-bottom: 1vh;
        width:40%;
        color:black;
    }
    .website{
        font-size:1.5vh;
        padding-bottom: 1vh;
        color:black;
    }
    .eemail{
        font-size:1.5vh;
        padding-bottom: 1vh;
        color:black;
    }

    .personal{
        width:50%;
        height:10vh;
        margin-top:11vh;
        padding-right:5vw;
    }
    .name{
        width:100%;
        font-size: 4vmin;
        color:white;
        text-align: right;
        font-weight: 550;
        padding-top: 0.5vh;
    }
    .job{
        width:100%;
        font-size: 1.5vmin;
        color:white;
        text-align: right;
        
    }
    .personalafterblock{
        height:1.2px;
        width:70%;
        background-color: white;
        margin-top: 1vh;
        text-align: right;
        justify-content: right;
        margin-left: 31%;
    }
    .downloadbutton{
        width:100%;
        height:7vmin;
        display:flex;
        justify-content: center;
        margin-top: -10vh;
    }
    .downloadbutton Button{
        border:none;
        height:100%;
        width:24vw;
        background-color: white;
        color:black;
        transition: linear 0.2s;
        font-weight: 550;
        box-shadow: 5px 5px 5px rgba(20,20,20,0.4);
        margin:0 1vw;
    }
    .downloadbutton Button:hover{
        transform: scale(1.1);
    }
    .downloadbutton Button:active{
        transform: scale(1);
    }
}


@media only screen and (max-width: 414px) {
    .cardback{
        height:100vh;
        width:100vw;
        background: linear-gradient(-45deg,rgb(12,138,187), rgb(230,230,230));
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 10vh;
        overflow: hidden;
    }
    .leftsidecolor{
        height:3.5vh;
        width:20vh;
        
    }
    .leftsidecolorbutton{
        width:50%;
        height:100%;
        transition: linear 0.1s;
    }
    .leftsidecolorbutton:nth-child(1){
        background: linear-gradient(90deg,red 50%,blue 50%);
    }
    .leftsidecolorbutton:nth-child(2){
        background: linear-gradient(90deg,yellow 50%,cyan 50%);
    }
    .leftsidecolorbutton:hover{
        transform: scale(1.1);
    }

    .rightsidecolor{
        height:3.5vh;
        width:20vh;
    }
    .rightsidecolorbutton{
        width:50%;
        height:100%;
        transition: linear 0.1s;
    }
    .rightsidecolorbutton:nth-child(1){
        background: linear-gradient(90deg, pink 50%,purple 50%);
    }
    .rightsidecolorbutton:nth-child(2){
        background: linear-gradient(90deg,skyblue 50%,green  50%);
    }
    .rightsidecolorbutton:hover{
        transform: scale(1.1);
    }


    .card{
        /* background: url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png"); */
        background: linear-gradient(-60deg, rgb(12,138,187) 50%, rgb(10,37,58) 50%);
        height:31vmax;
        width:54vmax;
        color:white;
        display:flex;
        border-radius: 1vmin;
        box-shadow: 5px 5px 5px rgba(20,20,20,0.4);
    }
    .cardColorOne{
        background: linear-gradient(-60deg, red 50%, blue 50%);
    }
    .cardColorTwo{
        background: linear-gradient(-60deg, yellow 50%, cyan 50%);
    }
    .cardColorThree{
        background: linear-gradient(-60deg, pink 50%, purple 50%);
    }
    .cardColorFour{
        background: linear-gradient(-60deg, skyblue 50%, green 50%);
    }

    .card input{
        outline: none;
        background-color: transparent;
        border:none;
        font-family: Arial, sans-serif;
        z-index: 2;
        
    }
    .contacts{
        width:50%;
        background-color: white;
        height:16vh;
        margin-top: 8vh;
        line-height: 2vh;
        color:black;
        border-radius: 0 25px 25px 0;
    }
    .contacticons{
        font-size: 2vh;
        transform: translate(0,0.4vh);
        margin-left: 2vw;
        margin-right:2vw ;

    }

    .address{
        font-size:1.5vh;
        padding-top: 1.8vh;
        padding-bottom: 1vh;
        color:black;
    }
    .phoneno{
        font-size:1.5vh;
        padding-bottom: 1vh;
        width:40%;
        color:black;
    }
    .website{
        font-size:1.5vh;
        padding-bottom: 1vh;
        color:black;
    }
    .eemail{
        font-size:1.5vh;
        padding-bottom: 1vh;
        color:black;
    }

    .personal{
        width:50%;
        height:10vh;
        margin-top:11vh;
        padding-right:5vw;
    }
    .name{
        width:100%;
        font-size: 4vmin;
        color:white;
        text-align: right;
        font-weight: 550;
        padding-top: 0.5vh;
    }
    .job{
        width:100%;
        font-size: 1.5vmin;
        color:white;
        text-align: right;
        
    }
    .personalafterblock{
        height:1.2px;
        width:70%;
        background-color: white;
        margin-top: 1vh;
        text-align: right;
        justify-content: right;
        margin-left: 31%;
    }
    .downloadbutton{
        width:100%;
        height:7vmin;
        display:flex;
        justify-content: center;
        margin-top: -10vh;
    }
    .downloadbutton Button{
        border:none;
        height:100%;
        width:24vw;
        background-color: white;
        color:black;
        transition: linear 0.2s;
        font-weight: 550;
        box-shadow: 5px 5px 5px rgba(20,20,20,0.4);
        margin:0 1vw;
    }
    .downloadbutton Button:hover{
        transform: scale(1.1);
    }
    .downloadbutton Button:active{
        transform: scale(1);
    }
}
